body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4a4a4a;
    margin-bottom: 20px;
}

.generator-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.generator-options label {
    font-weight: bold;
    margin-bottom: 5px;
}

.generator-options select,
.generator-options input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#generateBtn {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 400px;
}

#generateBtn:hover {
    background-color: #0056b3;
}

#peselOutput {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word; /* Zapewnia, że długi numer PESEL się nie "rozjedzie" */
}

.copy-message {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.copy-message.show {
    visibility: visible;
    opacity: 1;
}

#generateIdBtn {
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745; /* Inny kolor dla odróżnienia */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

#generateIdBtn:hover {
    background-color: #218838;
}

#idOutput {
    font-size: 24px;
    font-weight: bold;
    color: #28a745;
    background-color: #e9f5e9;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
    cursor: pointer;
}